##!/bin/sh

[[ -f ~/.Xresources ]] && xrdb -merge -I$HOME ~/.Xresources

source ~/.zshrc

# Screen
$HOME/.screenlayout/display.sh &

# Disable screenlock
xset -dpms
xset s noblank
xset s off

# Default programs at start
setxkbmap es &
nm-applet &
volumeicon &
numlockx &
lxsession &
light-locker &
udiskie -Nt &
feh --bg-fill ~/Pictures/Wallpapers/the_simpsons.jpg &
picom -f &
dunst &
