##!/bin/sh

[[ -f ~/.Xresources ]] && xrdb -merge -I$HOME ~/.Xresources

# Screen
$HOME/.screenlayout/display.sh &

# Disable screenlock
xset -dpms
xset s noblank
xset s off

# Default programs at start
setxkbmap es &
nm-applet &
picom -f &
udiskie -Nt &
volumeicon &
lxsession &
feh --bg-fill ~/Wallpapers/the_simpsons.jpg &
numlockx &
